/* Адаптивность */
@media (max-width: 768px) {
    header{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 95%;
        transform: translate(0, 0);
        top: 0;
        left: 0;
    }


    header > div> img{
        width: 64px;
        height: 64px;
    }
    
    nav{
        width: 90%;
        padding-bottom: 6px;
        padding-right: 0;
    }


    h1{font-size: 36px}
    h2{font-size: 30px}
    h3{font-size: 24px}
    h4{font-size: 20px}
    h5{font-size: 16px}


    #about > div{
        text-align: center;
    }

    #about > img{
        width: 300px;
        height: 300px;
        opacity: 0.3;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
    }


    section{
        margin-top: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-radius: var(--main-border-radius);
    }

    #features {
        padding: 20px 10px;
    }

    #features > div > div{
        flex-direction: column;
    }

    #features .card {
        margin-top: 20px;
    }

    #contact > div >div{
        display: flex;
        flex-direction: column;    }

        .icon{
            border-radius: 6px;
            width: 24px;
            height: 24px;
        }

        footer > div{
            text-align: center;
        }

        footer > div > div{width: 0}
    }