/* Адаптивность */
@media (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        width: 95%;
        top: 80px;
    }
    
    nav{
        width: 80%;
        padding: 0;
    }
}