body{background-color: var(--main-bg-color);}

header{
    z-index: 999;
    background-color: var(--secondary-bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--main-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

header > div{
    display: flex;
    align-items: center;
}

header > div> img{
    width: 100px;
    height: 100px;
}

header > div > div{
    display: flex;
    flex-direction: column;
}

main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    background-color: var(--bg-color);
}
footer > div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer > div > div{width: 40px}


section{
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: var(--main-border-radius);
}
section>div{width: 100%}


#about{
    height: 600px;
    justify-content: center;
}

#about > div{
    display: flex;
    flex-direction: column;
}
#about > div > h2{
    margin-top: 30px;
}

#about > img{
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 60%;
    width: 400px;
    height: 400px;
    opacity: 0.3;
}

#features{background-color: var(--secondary-bg-color);}
#features > div > div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#features .card {
    width: 300px;
    height: 350px;
}

#contact h4{margin-top: 10px}
#contact > div >div{margin-top: 40px}



nav{
    width: 40%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

h1, h2, h3, h4, h5 {
    color: var(--main-text-color);
    font-size: medium;
    font-weight: normal;
}
h1{font-size: 48px}
h2{font-size: 38px}
h3{font-size: 32px}
h4{font-size: 24px}

li{
    margin-top: 4px;
    color: var(--main-text-color);
}

a{
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
}

a.active {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.2);
}


input, textarea, select{
    width: 100%;
    background-color: var(--card-back);
    padding: 20px 10px;
    border-radius: var(--main-border-radius);
    font-size: 24px;
    color: var(--main-text-color);
    border: none;
    box-sizing: border-box; /** позволит добавить padding */
    transition: 300ms;
}

input[type='radio']{
    cursor: pointer;
    zoom: 2;
}



img{border-radius: var(--main-border-radius);}